@import url('https://fonts.googleapis.com/css?family=Open+Sans|Satisfy&display=swap');

/*@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Lily+Script+One|Pacifico|Satisfy&display=swap');*/

.eachblog{
	border-radius: 0.7em; 
	margin-left: 5px; 
	margin-right: 5px;
}

.image{
	padding-top: 3%;
	padding-bottom: 3%;
}

.fimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 300px;
  border-radius: 0.8em;
  object-fit: cover;
}

.profileimg{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 43%;
  margin-left: 0%;
}

.profilename{
  margin-top: 9%;
  padding-left: 5%date;
  margin-left: 0;
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.profilename .date{
	font-size: 13px;
	font-weight: normal;
	color: #ff9000;
}	

.profilename a{
	color: black;
}

.profilename a:hover{
	color: #ffa000;
	text-decoration: none;
}

.save{
	margin-top: 8%;
	font-size: 22px;
	color: #424242;
	cursor: pointer;
}

.save:hover{
	color: #FFA000;
}

.fname{
	margin-top: 12%;
	margin-left: 5%;
	font-size: 18px;
	font-weight: bold;
}

.fname a{
	color: black;
}

.fname a:hover{
	color: #ffa000;
	text-decoration: none;
}

.fmethod{
	margin-left: 5%;
	font-size: 13px;
	color: #ff9000;
}

.fperiod{
	margin-left: 1%;
	margin-top: 15px;
	font-size: 15px;
	color: black;
}


.tag-item{
  margin-left: 5%;
  margin-top: 2%;
  padding: 3px 7px;
  font-size: 11px;
  line-height: 20px;
  margin-right: 5px;
}

.fperiod i{
	font-size: 22px;
}

.frate{
	margin-left: 1%;
	margin-top: 15%;
	color: black;
	font-size: 15px;
}

.frate i{
	font-size: 20px;
}

.love{
	padding-left: 8%;
	font-weight: bold;
}

.coverage{
	margin-left: 1%;
	margin-top: 15%;
}

.coverage a{
	font-size: 22px;
	color: black;
}

.coverage span{
	font-weight: bold;
	padding-left: 5%;
	font-size: 15px;
}

.coverage a:hover{
	text-decoration: none;
	color: #FFA000;
}

.createtitle{
	font-size: 18px;
	font-weight: bold;
	padding-top: 15%;
	text-align: center;
}

.button{
  color:white;
  background-color: #ffb942;
  border: none;
  width: 130px;
  height: 40px;
  border-radius: 60%;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  -webkit-transition: .2s;
  transition: .2s;
  margin: 30px auto 50px;
  text-decoration: none !important;
  font-size: 15px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.largeview a:hover{
  background-color: #ffa000;
  text-decoration: none !important;
  transition: background 300ms ease-in-out;
}

.largeview a .button:hover{
	background-color: #ffa000;
}


.cb {
  width: 60px;
  height: 60px;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  cursor: pointer;
  transition: height 1s;
  display: none;
  background-color: white;
  line-height: 60px;
  font-weight: bold;
  font-size: 25px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25), 0 3px 5px 0 rgba(0, 0, 0, 0.20);
  border-radius:50%;
  color:#FFA000;
}

.cb:hover{
  background-color: #FFA000;
  color:black;
}

.category{
  position: relative;
  max-width: 800px; /* Maximum width */
  padding: 0;
  cursor: pointer;
}

.category .center{
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(68, 68, 68, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  height: 100%;
  padding: auto;
  text-align: center;
}

.category .center h3{
	font-size: 16px;
	padding-top: 40px;
	font-weight: bold;
}


.category .center:hover {
	transition: background 300ms ease-in-out;
	/*background-color: #14CCCA;*/
	background-color: #ffa000;
	color: black;
}


@media only screen and (max-width:900px) {
	.largeview{
		display: none;
	}

	.cb{
		display: block;
	}

	.eachblog{
		width: 100%;
		border-radius: 0.7em; 
		margin-left: 0; 
		margin-right: 0;
	}

	.image{
		padding-top: 1%;
		padding-bottom: 1%;	
	}

	.fimage{
	  object-fit: cover;
	  width: 100%;
	  height: 600px;
	  border-radius: 0.8em;
	  margin: 10px auto;
	}

	.profileimg{
	  width: 50px;
	  height: 50px;
	  border-radius: 50%;
	  margin-top: 30%;
	  margin-left: 0;
	  padding-left: 5%;
	}

	.profilename{
	  margin-top: 3%;
	  padding-left: 15px;
	  font-weight: bold;
	  font-size: 17px;
	}

	.save{
		margin-top: 20px;
		font-size: 17px;
		padding-left: 0;
	}

	.fname{
		font-weight: bold;
		margin-top: 8%;
		margin-left: 5%;
		font-size: 17px;
	}

	.fmethod{
		font-size: 14px;
		margin-left: 5%;
	}

	.fperiod{
		margin: 0;
		padding-top: 3%;
		font-size: 15px;
		padding-left: 5%;
	}

	.frate{
		margin-left: 3%;
		margin-top: 6%;
		font-size: 17px;
	}

	.coverage{
		margin-left: 1%;
		margin-top: 6%;
		color: black;
		font-size: 17px;
	}
}

 
@media only screen and (max-width:426px) {

	.brand{
		font-size: 24px;
		padding-left: 0;
	}

	.right{
		padding-right: 0;
	}	

	.eachblog{
		width: 100%;
		border-radius: 0.7em; 
		margin-left: 0; 
		margin-right: 0;
	}

	.image{
		padding-top: 1%;
		padding-bottom: 1%;	
	}

	.fimage{
	  width: 100%;
	  height: 270px;
	  border-radius: 0.8em;
	  margin: 10px auto;
	}

	.profileimg{
	  width: 40px;
	  height: 40px;
	  border-radius: 50%;
	  margin-top: 30%;
	  margin-left: 0;
	  padding-left: 0;
	}

	.profilename{
	  margin-top: 5%;
	  padding-left: 10px;
	  font-weight: bold;
	  font-size: 16px;
	}

	.save{
		margin-top: 20px;
		font-size: 16px;
		padding-left: 0;
	}

	.fname{
		font-weight: bold;
		margin-top: 10%;
		margin-left: 15px;
		font-size: 16px;
	}

	.fmethod{
		font-size: 13px;
	}

	.fperiod{
		margin: 0;
		padding-top: 4%;
		font-size: 13px;
		padding-left: 15px;
	}

	.frate{
		margin-left: 0;
		margin-top: 8%;
		font-size: 15px;
	}

	.coverage{
		margin-left: 1%;
		margin-top: 8%;
		color: black;
		font-size: 15px;
	}

	.largeview{
		display: none;
	}

}